---
import "highlight.js/styles/a11y-dark.min.css";

export interface Props {
    title?: string;
    site?: string;
    desc?: string;
}

const { title = "", site = "", desc = "" } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={desc} />
        <!--OG Tags-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:site_name" content={site} />
        <meta property="og:locale" content="en" />
        <meta property="og:description" content={desc} />
        <!--Twitter Tags-->
        <meta name="twitter:card" content="website" />
        <meta name="twitter:site" content={site} />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={desc} />
        <!--Misc-->
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="icon" href="/favicon.svg" sizes="256x256" type="image/svg" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: grey transparent;
    }

    *::-webkit-scrollbar {
        width: 4px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 4px;
        border: 1px solid grey;
    }

    body {
        @apply m-0 p-0
        bg-background
        min-w-full
        min-h-full
        font-system-ui;
    }

    a {
        @apply text-primary;
    }

    p {
        @apply text-foreground m-0 p-0 text-base;
    }

    h1 {
        @apply text-foreground m-0 p-0 font-semibold text-3xl;
    }

    h2 {
        @apply text-foreground m-0 p-0 font-semibold text-2xl;
    }

    h3 {
        @apply text-foreground m-0 p-0 font-semibold text-xl;
    }

    li {
        @apply p-1 text-foreground text-base;
    }

    ul {
        @apply list-disc ml-5 p-0;
    }

    .general-container {
        animation: fadeInY 500ms;
    }

    .post-container {
        animation: fadeInY 500ms;
    }

    .about-container {
        animation: fadeInY 500ms;
    }

    .container-fullscreen {
        animation: fadeInX 500ms;
    }

    .blog-post > p {
        @apply my-2.5;
    }

    .blog-post > h1 {
        @apply my-5
        font-bold;
    }

    .blog-post > h2 {
        @apply my-4
        font-bold;
    }

    .blog-post > h3 {
        @apply my-3
        font-bold;
    }

    .post-preview > p {
        @apply my-2;
    }

    .post-preview > h1 {
        @apply my-2
        font-bold;
    }

    .post-preview > h2 {
        @apply my-2
        font-bold;
    }

    .post-preview > h3 {
        @apply my-2
        font-bold;
    }

    @keyframes fadeInY {
        0% {
            transform: translateY(+25%);
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .shiki {
        @apply rounded-sm overflow-x-scroll p-3;
    }

    @keyframes fadeInX {
        0% {
            transform: translateX(+25%);
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
