---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { getPost } from "@lib/database";
import { getConfig } from "@lib/config";

const CONFIG = await getConfig();
if (CONFIG === undefined) return Astro.redirect("/404?r=config");
const URL_ORIGIN = new URL(CONFIG.site).origin;
const { short } = Astro.params;
const POST = await getPost(short || "");
if (POST === undefined) return Astro.redirect("/404?r=post");
const HTML = POST.content;
---

<Layout
    site={URL_ORIGIN}
    title={`${POST.data.title} - ${CONFIG.name}`}
    desc={POST.data.excerpt}
>
    <Header blog={true} name={CONFIG.name} />
    <div
        class="flex flex-col max-w-screen-xl h-full min-h-[calc(100vh-3.5rem)] m-auto"
        transition:animate="fade"
    >
        <div class="fullscreen-post max-w-screen-xl mx-4 my-1">
            <div class="flex my-2 items-center content-center justify-start">
                <a
                    class="inline-block text-primary uppercase font-mono font-semibold text-base"
                    href="/blog"
                >
                    <span class="text-xl">&lt</span> Go Back
                </a>
            </div>
            <h1>{POST.data.title}</h1>
            <div class="font-mono text-sm my-5">
                <p>
                    by <strong>{POST.data.author}</strong> on{" "}
                    {new Date(POST.data.date).toLocaleDateString("en-GB")}
                </p>
            </div>
            <div class="blog-post" set:html={HTML} />
            <div class="flex my-2 items-center content-center justify-end">
                <a
                    class="inline-block text-primary uppercase font-mono font-semibold text-base"
                    href="/blog"
                >
                    <span class="text-xl">&lt</span> Go Back
                </a>
            </div>
        </div>
    </div>
</Layout>

<style>
    .fullscreen-post {
        animation: scaleIn 300ms;
    }

    @keyframes scaleIn {
        0% {
            filter: blur(5px);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
