---
import Layout from "../layouts/Layout.astro";
import LinkEntry from "../components/LinkEntry.astro";
import { parseConfig } from "../lib/config";

const CONFIG = await parseConfig();
---

<Layout title="Home - k1f0.dev" desc="Coder & Linux Enthusiast">
    <div class="flex flex-col w-full h-full">
        <div
            class="m-auto flex flex-col w-[90%] h-full max-w-[350px] max-h-[calc(100vh-20%)] sm:max-h-[calc(100vh-30%)]"
        >
            <div class="text-center space-y-6 mb-3">
                <img
                    class="m-auto max-h-[50%]"
                    width="150px"
                    height="150px"
                    src="favicon.svg"
                />
                <h1 class="font-extrabold text-5xl">{CONFIG.title}</h1>
                <p class="font-medium">{CONFIG.subtitle}</p>
            </div>
            <div
                class="flex flex-wrap flex-row w-full h-full overflow-y-scroll rounded-md px-2"
            >
                {
                    CONFIG.links.map((entry) => (
                        <LinkEntry
                            icon={entry.icon}
                            desc={entry.desc}
                            link={entry.link}
                            borderColor={entry.borderColor}
                            backgroundColor={entry.backgroundColor}
                            foregroundColor={entry.foregroundColor}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
