---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import PostsListing from "@components/PostsListing.astro";
import { getConfig } from "@lib/config";

const CONFIG = await getConfig();
if (CONFIG === undefined) return Astro.redirect("/404?r=config");
const URL_ORIGIN = new URL(CONFIG.site).origin;
---

<Layout
    site={URL_ORIGIN}
    title={`Blog - ${CONFIG.name}`}
    desc={CONFIG.description}
>
    <Header isRight={true} rightHref="#" name={CONFIG.name} />
    <div
        class="flex flex-col w-full h-full min-h-[calc(100vh-3.5rem)] mt-2"
        transition:animate="fade"
    >
        <PostsListing server:defer>
            <div
                slot="fallback"
                class="flex flex-col m-auto -translate-y-[3.5rem]"
            >
                <h1 class="loader font-mono text-primary">Loading...</h1>
            </div>
        </PostsListing>
    </div>
</Layout>

<style>
    .loader {
        filter: drop-shadow(0px 0px 35px var(--color-primary));
        animation: blur 150ms;
    }

    @keyframes blur {
        0% {
            filter: drop-shadow(0px 0px 5px var(--color-primary));
            filter: blur(5px);
        }
        100% {
            filter: blur(0px);
        }
    }
</style>
