---
import Layout from "../layouts/Layout.astro";
import LinkEntry from "../components/LinkEntry.astro";
import Header from "../components/Header.astro";
import { getConfig } from "../lib/config";

const CONFIG = await getConfig();
if (CONFIG === undefined) return Astro.redirect("/404?r=config");
const URL_ORIGIN = new URL(CONFIG.site).origin
---

<Layout
    site={URL_ORIGIN}
    title={`Home - ${CONFIG.name}`}
    desc={CONFIG.description}
>
    <Header site={URL_ORIGIN} path="/" name={CONFIG.name} />
    <div class="flex flex-1 flex-col w-full h-full" transition:animate="fade">
        <div class="flex flex-col w-full h-full min-h-[calc(100vh-3.5rem)]">
            <div class="m-auto -translate-y-[3.5rem]">
                {
                    CONFIG.links.map((entry, index) =>
                        index % 2 ? (
                            <LinkEntry
                                color="var(--color-primary)"
                                label={entry.label}
                                link={entry.link}
                                ext={entry.external}
                            />
                        ) : (
                            <LinkEntry
                                color="var(--color-foreground)"
                                label={entry.label}
                                link={entry.link}
                                ext={entry.external}
                            />
                        ),
                    )
                }
            </div>
        </div>
    </div>
</Layout>
