---
import markdownit from "markdown-it";
import hljs from "highlight.js";
import HighlightJS from "markdown-it-highlightjs";
import { getRawPostData } from "../../lib/database";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { parseConfig } from "../../lib/config";

const CONFIG = await parseConfig();
const HLJSOPTS = {
    hljs: hljs,
};
const { short } = Astro.params;
const MARKDOWNIT = markdownit().use(HighlightJS, HLJSOPTS);
const POST = await getRawPostData(short || "");
if (POST === undefined) return Astro.redirect("/404");
const HTML = MARKDOWNIT.render(POST.content);
---

<Layout
    site={CONFIG.site}
    title={`${POST.data.title} - ${CONFIG.name}`}
    desc={POST.data.excerpt}
>
    <Header name={CONFIG.name} />
    <div
        class="flex flex-col max-w-screen-xl h-full min-h-[calc(100vh-3.5rem)] m-auto"
        transition:animate="fade"
    >
        <div class="container-fullscreen max-w-screen-xl mx-4 my-1">
            <div class="flex my-2 items-center content-center justify-start">
                <a
                    class="inline-block text-primary uppercase font-mono font-semibold text-base"
                    href="/"><span class="text-xl">&lt</span> Go Back</a
                >
            </div>
            <h1>{POST.data.title}</h1>
            <div class="font-mono text-sm my-5">
                <p>
                    by <strong>{POST.data.author}</strong> on {
                        new Date(POST.data.date).toLocaleDateString("en-GB")
                    }
                </p>
            </div>
            <div class="blog-post" set:html={HTML} />
            <div class="flex my-2 items-center content-center justify-end">
                <a
                    class="inline-block text-primary uppercase font-mono font-semibold text-base"
                    href="/"><span class="text-xl">&lt</span> Go Back</a
                >
            </div>
        </div>
    </div>
</Layout>
